# If you change this file, you need to run
#   update-initramfs -u
WELCOME_TEXT="Please insert yubikey and press enter or enter a valid passphrase"
# Set to "1" if you want both your password and Yubikey response be bundled together and writtent to key slot.
CONCATENATE=0
# Set to "1" if you want to hash your password with sha256.
HASH=0
# Uncomment and enter 0-64 byte challenge to use YubiKey as 1FA
# cryptkey=""
# Uncomment below to enable enrollment of a second yubiKey
# ADDKEYS=1
