Source: fido2-luks
Section: admin
Priority: optional
Maintainer: Nyancient <foxolotl@protonmail.com>
Build-Depends: debhelper (>= 11), dh-exec
Standards-Version: 4.1.4
Homepage: https://github.com/nyancient/fido2-luks

Package: fido2-luks
Architecture: all
Depends: cryptsetup, initramfs-tools, fido2-tools, udisks2, expect, ${misc:Depends}
Description: FIDO2 two factor authentication for LUKS disks
 With this extension to the initramfs-tools, you can unlock a LUKS encrypted
 disk using your FIDO2 token as a strong single factor.
 .
 Requires a FIDO2 token which supports the hmac-secret extension. 
