#! /usr/bin/make -f

%:
    dh $@

override_dh_auto_build:
    # nothing to build

override_dh_installsystemd:
    dh_installsystemd -pyubikey-luks \
        --no-enable --no-start --no-restart-after-upgrade --no-stop-on-upgrade \
        yubikey-luks-suspend.service

override_dh_install:
    dh_install
    install -D -o root -g root -m755 hook debian/yubikey-luks/usr/share/initramfs-tools/hooks/yubikey-luks
    install -D -o root -g root -m755 key-script debian/yubikey-luks/usr/share/yubikey-luks/ykluks-keyscript
    install -D -o root -g root -m755 yubikey-luks-open debian/yubikey-luks/usr/bin/yubikey-luks-open
    install -D -o root -g root -m755 yubikey-luks-enroll debian/yubikey-luks/usr/bin/yubikey-luks-enroll
    install -D -o root -g root -m644 yubikey-luks-enroll.1 debian/yubikey-luks/usr/man/man1/yubikey-luks-enroll.1
    install -D -o root -g root -m644 README.md debian/yubikey-luks/usr/share/doc/yubikey-luks/README.md
    install -D -o root -g root -m644 ykluks.cfg debian/yubikey-luks/etc/ykluks.cfg
    install -D -o root -g root -m755 yubikey-luks-suspend debian/yubikey-luks/usr/lib/yubikey-luks/yubikey-luks-suspend
    install -D -o root -g root -m755 initramfs-suspend debian/yubikey-luks/usr/lib/yubikey-luks/initramfs-suspend
    install -D -o root -g root -m644 yubikey-luks-suspend.service debian/yubikey-luks/lib/systemd/system/yubikey-luks-suspend.service
